.container {
  list-style: none;
  column-gap: 0;
  padding: 0;
  column-count: 1;
  margin: 1rem 5%;
}

.gallery-image {
  width: 100%;
  transition: all 150ms;
}

.gallery-image:hover {
  filter: opacity(0.95);
}

.img-container {
  position: relative;
  width: 100%;
  padding: 0 0.125rem;
  margin: 0;
  box-sizing: border-box;
  break-inside: avoid;
}

.like-button {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.76);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  transition: all 150ms;
}

.like-button span {
  filter: grayscale(1);
}

.like-button:hover span {
  filter: grayscale(0.8);
}

.metadata {
  position: absolute;
  bottom: 0.25rem;
  right: 0.16rem;
  text-align: right;
  padding: 0.125rem 0.25rem;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
}

.metadata * {
  margin: 0.125rem;
  font-size: 0.75rem;
}

.metadata a {
  color: white;
  filter: grayscale(1);
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 979.5px) {
  .container {
    column-count: 2;
    margin: 1rem 0;
  }
}
@media (min-width: 980px) and (max-width: 1023.5px) {
  .container {
    margin: 1rem 3.5%;
  }
}
@media (min-width: 1024px) {
  .container {
    column-count: 3;
  }
}
