.upload-btn-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 10;
}

.upload-btn {
  display: inline-block;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;

  background-color: var(--text-color);
  color: var(--background-color);

  border: none;

  text-align: center;
}

.upload-btn * {
    vertical-align: middle;
}