.upload-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.upload-btn {
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px;

  background-color: var(--text-color);
  color: var(--background-color);

  border: none;

  text-align: center;
  cursor: pointer;
}
