/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal content box */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
  }
  
  /* Title style */
  .modal-title {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  /* Body styling */
  .modal-body {
    margin-bottom: 1.5em;
  }
  
  .modal-button {
    padding: 8px 16px;
    margin-left: 8px;
    font-size: 1em;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-close:hover {
    background-color: #0056b3;
  }
  