@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;

  --background-color: #fff;
  --text-color: #111;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  font-family: 'Roboto Condensed', sans-serif !important;
}

button:not(:disabled) {
  cursor: pointer;
  transition: transform 150ms;
}

button:hover:not(:disabled) {
  transform: scale(1.1);
}
